/*
* ==============================================================
*  Utils
* ==============================================================
*/

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-top: var(--spacer-2);
  text-align: center;
  border-radius: 3px;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
  font-size: var(--small);
  font-weight: 700;
  padding: var(--spacer-2) var(--spacer-2);
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

/*
* ==============================================================
*  Header
* ==============================================================
*/

.header {
  background-color: var(--linen);
  margin-inline: calc(var(--spacer-2) * -1);
  padding-inline: var(--spacer-2);
  margin-block-start: calc(var(--spacer-2) * -1);
  padding-block-start: var(--spacer-2);

  @media (min-width: 768px) {
    margin-inline: calc(var(--spacer-4) * -1);
    margin-block-start: calc(var(--spacer-4) * -1);
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-inline: var(--spacer-2);
  padding-top: var(--spacer-2);
  font-weight: 700;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--spacer-1);
  margin-right: auto;
}

.logoContainer {
  font-size: var(--medium);
}

.logo {
  fill: var(--violet);
  width: 24px;
}

.menu {
  width: 18px;
}

.intro {
  margin-top: var(--spacer-4);
  padding: var(--spacer-2);

  @media (min-width: 768px) {
    display: flex;
  }
}

.intro h1 {
  font-size: var(--larger);
}

.intro p {
  margin-top: var(--spacer-2);
  margin-bottom: var(--spacer-3);
}

.intro .try {
  background-color: var(--violet);
}

.intro .googleSignUp {
  background-color: var(--azure);
}

.intro .img {
  margin-top: var(
    --spacer-2
  ) !important; /* Override next.js Image component margin:auto */

  @media (min-width: 768px) {
    min-height: auto !important; /* Override next.js Image component min-height:100% */
    width: auto !important; /* Override next.js Image component width:0 */
    height: auto !important; /* Override next.js Image component height:0 */
    min-width: auto !important; /* Override next.js Image component min-width:100% */
  }
}

/*
* ==============================================================
*  Main
* ==============================================================
*/

.main {
  margin-top: var(--spacer-3);
}

.pitch h2 {
  font-size: var(--medium);
}

.pitch p {
  margin: var(--spacer-2) auto var(--spacer-4);
}

.pitch:not(:nth-of-type(3)) {
  margin-bottom: var(--spacer-2);
}

.getStarted {
  background-color: var(--linen);
  margin-top: var(--spacer-3);
  margin-inline: calc(var(--spacer-2) * -1);
  padding: var(--spacer-4) var(--spacer-2);
}

.getStartedStep {
  margin: var(--spacer-2) auto var(--spacer-4);
}

.getStartedStep::before {
  content: attr(data-step);
  background-color: var(--violet);
  border-radius: 5px;
  color: var(--white);
  padding: var(--spacer-1) var(--spacer-2);
  display: inline-block;
  font-weight: 700;
}

.getStartedStep h3 {
  font-size: var(--base-font-size);
  margin: var(--spacer-2) 0;
}

.getStartedStep a {
  text-decoration: underline;
  color: var(--azure);
}

.future {
  background-color: var(--violet);
  color: var(--white);
  margin-inline: calc(var(--spacer-2) * -1);
  padding-block: var(--spacer-10);
  padding-inline: var(--spacer-2);
  clip-path: ellipse(105% 100% at center top);
  text-align: center;
}

.future .try {
  background-color: var(--white);
  color: var(--violet);
}

/*
* ==============================================================
*  Footer
* ==============================================================
*/

.footer {
  margin-top: var(--spacer-3);
  text-align: center;
}

.footer .logo {
  width: 32px;
}
