.nav {
  display: flex;
  align-items: center;
  margin-inline: var(--spacer-2);
  font-weight: 700;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--spacer-1);
  margin-right: auto;
}

.logoContainer {
  font-size: var(--medium);
  /* font-weight: 700; */
}

.logo {
  fill: var(--violet);
  width: 24px;
}

.menu {
  width: 18px;
}
